.geom-font {
  font-family: "Geom", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.body{
    background-color: #fdd692;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #754f44;
}

.titulo-principal{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*BColores paleta Earthy Neutrals de coolors.co*/
    font-size: 78px;
    font-weight: bold;
    color: #9c9583;
    text-align: center;
    margin: 0;
}
.Subti{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #9c9583;
}
 .card {
  margin: 16px;           /* espacio externo */
  padding: 12px;          /* espacio interno */
  border: 1px solid #d1d5db;
}

/*Encabezado*/

.header{
    padding: 15px 0px;
}
.nav{
text-decoration: #754f44;
  color: #754f44;
}

.sepnav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/*Puras imagenes*/

.Logo_cocina{
  width: 90px;
  border-radius: 50%;
}

/* Contenedor Flex */
.productos-flex{
  display: flex;
  gap: 1rem;           /* separación entre columnas */
  justify-content: space-between;
  flex-wrap: wrap;     /* que baje el contenido en móvil */
  margin: 2rem 0;
}

/* Cada producto enn columnas*/
.producto-columna{
  flex: 1 1 calc(33.333% - 1rem); /* 3 columnas con espacio */
  background: #fff;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  border-radius: 8px;
}

/* Imagen dentro de cada producto */
.producto-card img{
  width: 100%;
  height: 200px;
  border-radius: 6px;
  object-fit: cover;
}